n8n_email_alerts.json
{
  "name": "D2C Intel - Email Alerts",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 16 * * *"
            }
          ]
        }
      },
      "id": "node-schedule",
      "name": "Schedule 10:30 PM IST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 600]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {"__rl": true, "value": "1XJgktxMC8KQAUCkDWWJon_IoDqknn7s8HkMWEUqXtj8", "mode": "id"},
        "sheetName": {"__rl": true, "value": "Swiss Beauty", "mode": "name"},
        "filtersUI": {"values": [{"lookupColumn": "Date Added", "lookupValue": "={{ $now.toFormat('yyyy-MM-dd') }}"}]},
        "options": {}
      },
      "id": "node-gs-swiss", "name": "Get Swiss Beauty Rows",
      "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5,
      "position": [480, 100],
      "credentials": {"googleSheetsOAuth2Api": {"id": "REPLACE_WITH_YOUR_GOOGLE_CREDENTIAL_ID", "name": "Google Sheets account"}}
    },
    {
      "parameters": {"assignments": {"assignments": [{"id": "b1", "name": "brand", "value": "Swiss Beauty", "type": "string"}]}, "options": {"includeOtherFields": true}},
      "id": "node-set-swiss", "name": "Tag Swiss Beauty",
      "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [700, 100]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {"__rl": true, "value": "1XJgktxMC8KQAUCkDWWJon_IoDqknn7s8HkMWEUqXtj8", "mode": "id"},
        "sheetName": {"__rl": true, "value": "Mars", "mode": "name"},
        "filtersUI": {"values": [{"lookupColumn": "Date Added", "lookupValue": "={{ $now.toFormat('yyyy-MM-dd') }}"}]},
        "options": {}
      },
      "id": "node-gs-mars", "name": "Get Mars Rows",
      "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5,
      "position": [480, 250],
      "credentials": {"googleSheetsOAuth2Api": {"id": "REPLACE_WITH_YOUR_GOOGLE_CREDENTIAL_ID", "name": "Google Sheets account"}}
    },
    {
      "parameters": {"assignments": {"assignments": [{"id": "b2", "name": "brand", "value": "Mars", "type": "string"}]}, "options": {"includeOtherFields": true}},
      "id": "node-set-mars", "name": "Tag Mars",
      "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [700, 250]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {"__rl": true, "value": "1XJgktxMC8KQAUCkDWWJon_IoDqknn7s8HkMWEUqXtj8", "mode": "id"},
        "sheetName": {"__rl": true, "value": "Renee", "mode": "name"},
        "filtersUI": {"values": [{"lookupColumn": "Date Added", "lookupValue": "={{ $now.toFormat('yyyy-MM-dd') }}"}]},
        "options": {}
      },
      "id": "node-gs-renee", "name": "Get Renee Rows",
      "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5,
      "position": [480, 400],
      "credentials": {"googleSheetsOAuth2Api": {"id": "REPLACE_WITH_YOUR_GOOGLE_CREDENTIAL_ID", "name": "Google Sheets account"}}
    },
    {
      "parameters": {"assignments": {"assignments": [{"id": "b3", "name": "brand", "value": "Renee Cosmetics", "type": "string"}]}, "options": {"includeOtherFields": true}},
      "id": "node-set-renee", "name": "Tag Renee",
      "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [700, 400]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {"__rl": true, "value": "1XJgktxMC8KQAUCkDWWJon_IoDqknn7s8HkMWEUqXtj8", "mode": "id"},
        "sheetName": {"__rl": true, "value": "Blueheaven", "mode": "name"},
        "filtersUI": {"values": [{"lookupColumn": "Date Added", "lookupValue": "={{ $now.toFormat('yyyy-MM-dd') }}"}]},
        "options": {}
      },
      "id": "node-gs-blue", "name": "Get Blueheaven Rows",
      "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5,
      "position": [480, 550],
      "credentials": {"googleSheetsOAuth2Api": {"id": "REPLACE_WITH_YOUR_GOOGLE_CREDENTIAL_ID", "name": "Google Sheets account"}}
    },
    {
      "parameters": {"assignments": {"assignments": [{"id": "b4", "name": "brand", "value": "Blue Heaven", "type": "string"}]}, "options": {"includeOtherFields": true}},
      "id": "node-set-blue", "name": "Tag Blueheaven",
      "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [700, 550]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {"__rl": true, "value": "1XJgktxMC8KQAUCkDWWJon_IoDqknn7s8HkMWEUqXtj8", "mode": "id"},
        "sheetName": {"__rl": true, "value": "Lakme", "mode": "name"},
        "filtersUI": {"values": [{"lookupColumn": "Date Added", "lookupValue": "={{ $now.toFormat('yyyy-MM-dd') }}"}]},
        "options": {}
      },
      "id": "node-gs-lakme", "name": "Get Lakme Rows",
      "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5,
      "position": [480, 700],
      "credentials": {"googleSheetsOAuth2Api": {"id": "REPLACE_WITH_YOUR_GOOGLE_CREDENTIAL_ID", "name": "Google Sheets account"}}
    },
    {
      "parameters": {"assignments": {"assignments": [{"id": "b5", "name": "brand", "value": "Lakme", "type": "string"}]}, "options": {"includeOtherFields": true}},
      "id": "node-set-lakme", "name": "Tag Lakme",
      "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [700, 700]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {"__rl": true, "value": "1XJgktxMC8KQAUCkDWWJon_IoDqknn7s8HkMWEUqXtj8", "mode": "id"},
        "sheetName": {"__rl": true, "value": "Maybelline", "mode": "name"},
        "filtersUI": {"values": [{"lookupColumn": "Date Added", "lookupValue": "={{ $now.toFormat('yyyy-MM-dd') }}"}]},
        "options": {}
      },
      "id": "node-gs-maybelline", "name": "Get Maybelline Rows",
      "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5,
      "position": [480, 850],
      "credentials": {"googleSheetsOAuth2Api": {"id": "REPLACE_WITH_YOUR_GOOGLE_CREDENTIAL_ID", "name": "Google Sheets account"}}
    },
    {
      "parameters": {"assignments": {"assignments": [{"id": "b6", "name": "brand", "value": "Maybelline", "type": "string"}]}, "options": {"includeOtherFields": true}},
      "id": "node-set-maybelline", "name": "Tag Maybelline",
      "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [700, 850]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {"__rl": true, "value": "1XJgktxMC8KQAUCkDWWJon_IoDqknn7s8HkMWEUqXtj8", "mode": "id"},
        "sheetName": {"__rl": true, "value": "Staze Beauty", "mode": "name"},
        "filtersUI": {"values": [{"lookupColumn": "Date Added", "lookupValue": "={{ $now.toFormat('yyyy-MM-dd') }}"}]},
        "options": {}
      },
      "id": "node-gs-staze", "name": "Get Staze Beauty Rows",
      "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5,
      "position": [480, 1000],
      "credentials": {"googleSheetsOAuth2Api": {"id": "REPLACE_WITH_YOUR_GOOGLE_CREDENTIAL_ID", "name": "Google Sheets account"}}
    },
    {
      "parameters": {"assignments": {"assignments": [{"id": "b7", "name": "brand", "value": "Staze Beauty", "type": "string"}]}, "options": {"includeOtherFields": true}},
      "id": "node-set-staze", "name": "Tag Staze Beauty",
      "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [700, 1000]
    },
    {
      "parameters": {"mode": "append", "options": {}},
      "id": "node-merge", "name": "Merge All Brands",
      "type": "n8n-nodes-base.merge", "typeVersion": 3,
      "position": [920, 600]
    },
    {
      "parameters": {
        "sendTo": "sahil.gaur@swissbeauty.in",
        "subject": "=D2C Intel — Daily Report {{ $now.toFormat('dd MMM yyyy') }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "node-code", "name": "Build Email HTML",
      "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [1140, 600]
    },
    {
      "parameters": {
        "sendTo": "sahil.gaur@swissbeauty.in",
        "subject": "=D2C Intel — Daily Report {{ $now.toFormat('dd MMM yyyy') }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "node-email", "name": "Send Email Alert",
      "type": "n8n-nodes-base.gmail", "typeVersion": 2.1,
      "position": [1360, 600],
      "credentials": {"gmailOAuth2": {"id": "REPLACE_WITH_YOUR_GOOGLE_CREDENTIAL_ID", "name": "Gmail account"}}
    }
  ],
  "connections": {
    "Schedule 10:30 PM IST": {
      "main": [[
        {"node": "Get Swiss Beauty Rows", "type": "main", "index": 0},
        {"node": "Get Mars Rows", "type": "main", "index": 0},
        {"node": "Get Renee Rows", "type": "main", "index": 0},
        {"node": "Get Blueheaven Rows", "type": "main", "index": 0},
        {"node": "Get Lakme Rows", "type": "main", "index": 0},
        {"node": "Get Maybelline Rows", "type": "main", "index": 0},
        {"node": "Get Staze Beauty Rows", "type": "main", "index": 0}
      ]]
    },
    "Get Swiss Beauty Rows": {"main": [[{"node": "Tag Swiss Beauty", "type": "main", "index": 0}]]},
    "Tag Swiss Beauty": {"main": [[{"node": "Merge All Brands", "type": "main", "index": 0}]]},
    "Get Mars Rows": {"main": [[{"node": "Tag Mars", "type": "main", "index": 0}]]},
    "Tag Mars": {"main": [[{"node": "Merge All Brands", "type": "main", "index": 1}]]},
    "Get Renee Rows": {"main": [[{"node": "Tag Renee", "type": "main", "index": 0}]]},
    "Tag Renee": {"main": [[{"node": "Merge All Brands", "type": "main", "index": 2}]]},
    "Get Blueheaven Rows": {"main": [[{"node": "Tag Blueheaven", "type": "main", "index": 0}]]},
    "Tag Blueheaven": {"main": [[{"node": "Merge All Brands", "type": "main", "index": 3}]]},
    "Get Lakme Rows": {"main": [[{"node": "Tag Lakme", "type": "main", "index": 0}]]},
    "Tag Lakme": {"main": [[{"node": "Merge All Brands", "type": "main", "index": 4}]]},
    "Get Maybelline Rows": {"main": [[{"node": "Tag Maybelline", "type": "main", "index": 0}]]},
    "Tag Maybelline": {"main": [[{"node": "Merge All Brands", "type": "main", "index": 5}]]},
    "Get Staze Beauty Rows": {"main": [[{"node": "Tag Staze Beauty", "type": "main", "index": 0}]]},
    "Tag Staze Beauty": {"main": [[{"node": "Merge All Brands", "type": "main", "index": 6}]]},
    "Merge All Brands": {"main": [[{"node": "Send Email Alert", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "meta": {"templateCredsSetupCompleted": false},
  "tags": []
}
